html {
	padding: 0;
	margin: 0;
}
body {
    background-image: url('http://i1361.photobucket.com/albums/r662/bonham000/Image%20Search%20Abstraction/cat-camera_zpsbndceeb7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
}

.content {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(15,15,15,.95);
	color: rgb(230,230,230);
	font-family: Avenir;
}
.container {
	padding-left: 30px;
}
.title1 {
	font-size: 50px;
}
.title2 {
	font-size: 30px;
}
.subtitle {
	font-size: 25px;
	color: rgb(6, 179, 219);
}
.rules {
	font-size: 18px;
	color: rgb(6, 179, 219);
}

